#nav {

  font-size: 2rem;
  text-align: center;
  text-align: center;
}
.nav {
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
  text-align: center;
}

.REC {
  text-align: center;
  margin: 0 auto;
}
